*mp4 filter=lfs diff=lfs merge=lfs -text
assets/model_assets filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=nvidia-batch_size=16-num_epoch=5-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=1-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=100-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=25-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=5-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=nvidia-batch_size=16-num_epoch=5-steps_per_epoch=400/history.p filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=nvidia-batch_size=16-num_epoch=5-steps_per_epoch=400/model=nvidia-batch_size=16-num_epoch=5-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=nvidia-batch_size=16-num_epoch=5-steps_per_epoch=400/weights.h5 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=1-steps_per_epoch=400/history.p filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=1-steps_per_epoch=400/model=simple_aggregate-batch_size=16-num_epoch=1-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=1-steps_per_epoch=400/weights.h5 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=100-steps_per_epoch=400/history.p filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=100-steps_per_epoch=400/model=simple_aggregate-batch_size=16-num_epoch=100-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=100-steps_per_epoch=400/weights.h5 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=25-steps_per_epoch=400/history.p filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=25-steps_per_epoch=400/model=simple_aggregate-batch_size=16-num_epoch=25-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=25-steps_per_epoch=400/weights.h5 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=5-steps_per_epoch=400/model=simple_aggregate-batch_size=16-num_epoch=5-steps_per_epoch=400 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=5-steps_per_epoch=400/weights.h5 filter=lfs diff=lfs merge=lfs -text
assets/model_assets/model=simple_aggregate-batch_size=16-num_epoch=5-steps_per_epoch=400/history.p filter=lfs diff=lfs merge=lfs -text
